
/* Style pour le body */
body {
	background: linear-gradient(90deg, royalblue, rgb(37, 65, 148));
	color: #333;
	font-family: 'Lato', sans-serif;
	display: flex;
	flex-direction: column;
  }
  
  /* Style pour le header */
  header {
	position: relative;
	background-color: #333;
	color: #fff;
	padding: 20px;
	border-radius: 20px;
  }
  
  /* Style pour la barre de navigation */
  nav {
	background-color: #333;
	border-radius: 20px;
  }

  nav img {
	float: left;
	height: 50px;
  }

  nav ul {
	/* centre la liste par rapport à la barre de navigation */
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
  }
  
  nav li {
	float: left;
  }

  ul li button {
	display: block;
	margin-left: auto;
	margin-right: 10px;
	align-items: center;
  	background-color: #fff;
  	border-radius: 24px;
  	cursor: pointer;
  	font-size: 16px;
  	font-weight: 500;
  	height: 48px;
  	max-width: 100%;
  	overflow: hidden;
  	padding: 2px 24px;
  	text-align: center;
  	touch-action: manipulation;
  	width: auto;
	border: none;
  }

  ul li button:hover{
	transition: 0.5s;
	background-color: rgb(0, 0, 0);
	color: white;
  }

  nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }

  nav.pics a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0px 0px;		
	text-decoration: none;
  }
  
  nav a:hover {
	background-color: #555;
	color: royalblue;
  }
  
  /* Style pour la section principale */
  main {
	width: 100%;
	flex: 1;
  }

  main h1 {
	background-color: #333;
	border-radius: 30px;
	text-align: center;
	font-size: 32px;
	margin-bottom: 20px;
	color: #f4f4f4;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	box-shadow: 0 0 30px #333;
  }
  
  section {
	margin-bottom: 40px;
	background-color: #f4f4f4;
	border-radius: 30px;
	padding: 20px;
	box-shadow: 0 0 30px #333;
  }
  
  section h2 {
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px;
	color: #333;
  }

  section img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
  }

  
  section p {
	font-size: 16px;
	line-height: 1.5;
	color: #555;
  }
  
  /* Style pour le footer */
  footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
  }

  a {
	color: royalblue;
  }

  main section.membres ul{
	height: auto;
  }

  main section.membres ul li{
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 10px;
	overflow: hidden;
	height: auto;
  }

  /* PAGE EQUIPE */

  :root {
	--card-height: 50vw;
	--card-margin: 4vw;
	--card-top-offset: 1em;
	--numcards: 3;
	--outline-width: 0px;
}

#cards {
	padding-bottom: calc(var(--numcards) * var(--card-top-offset)); /* Make place at bottom, as items will slide to that position*/
	margin-bottom: var(--card-margin); /* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
}

#card_1 {
	--index: 1;
}

#card_2 {
	--index: 2;
}

#card_3 {
	--index: 3;
}

.card {
	position: sticky;
	top: 0;
	padding-top: calc(var(--index) * var(--card-top-offset));
}

@supports (animation-timeline: works) {

	@scroll-timeline cards-element-scrolls-in-body {
		source: selector(body);
		scroll-offsets:
			/* Start when the start edge touches the top of the scrollport */
			selector(#cards) start 1,
			/* End when the start edge touches the start of the scrollport */
			selector(#cards) start 0
		;
		start: selector(#cards) start 1; /* Start when the start edge touches the top of the scrollport */
		end: selector(#cards) start 0; /* End when the start edge touches the start of the scrollport */
		time-range: 3s;
	}

	.card {
		--index0: calc(var(--index) - 1); /* 0-based index */
		--reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
		--reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
	}
	
	.card__content {
		transform-origin: 50% 0%;
		will-change: transform;

		--duration: calc(var(--reverse-index0) * 1s);
		--delay: calc(var(--index0) * 1s);

		animation: var(--duration) linear scale var(--delay) forwards;
		animation-timeline: cards-element-scrolls-in-body;
	}

	@keyframes scale {
		to {
			transform:
				scale(calc(
					1.1
					-
					calc(0.1 * var(--reverse-index))
				));
		}
	}
}

body {
	background: rgb(180, 180, 172);
	color: rgb(255, 255, 255);
	text-align: center;

	font-size: calc(1em + 0.5vw);
}

#cards {
	list-style: none;
	outline: calc(var(--outline-width) * 10) solid blue;
	
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--numcards), var(--card-height));
	gap: var(--card-margin);
}

.card {
	outline: var(--outline-width) solid hotpink;
}

.card__content {
	box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
	background: rgb(255, 255, 255);
	color: rgb(10, 5, 7);
	border-radius: 1em;
	overflow: hidden;
	display: grid;
	grid-template-areas: "text img";
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;

	align-items: stretch;
	outline: var(--outline-width) solid lime;
}

.card__content > div {
	grid-area: text;
	width: 80%;
	place-self: center;
	text-align: left;
	display: grid;
	gap: 1em;
	place-items: start;
}

.card__content > figure {
	grid-area: img;
	overflow: hidden;
}

.card__content > figure > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

h1 {
	font-weight: 300;
	font-size: 3.5em;
}

h2.card {
	font-weight: 300;
	font-size: 2.5em;
}

p {
	font-family: sans-serif;
	font-weight: 300;
	line-height: 1.42;
}

.btn {
	background: #333;
	color: rgb(255 255 255);
	text-decoration: none;
	display: inline-block;
	padding: 0.5em;
	border-radius: 0.25em;
	position:relative;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	cursor:pointer;
	border-radius: 24px;
}

aside {
	width: 50vw;
	margin: 0 auto;
	text-align: left;
}

aside p {
	margin-bottom: 1em;
}

.dis-none {
	display: none;
}


.text-pres {
	text-justify:inter-word;
	text-align: left;
	margin-left: 10px;
	margin-top: 25px;
	margin-bottom: -20px;
}

.image-equipe {
	border-image-width: 10px;
}

/* PAGE DEVBLOG */
