/* Style pour le body */
body {
	background: linear-gradient(90deg, royalblue, rgb(37, 65, 148));
	color: #333;
	font-family: 'Lato', sans-serif;
	display: flex;
	flex-direction: column;
  }
  
  /* Style pour le header */
  header {
	position: relative;
	background-color: #333;
	color: #fff;
	padding: 20px;
	border-radius: 20px;
  }
  
  /* Style pour la barre de navigation */
  nav {
	background-color: #333;
	border-radius: 20px;
  }

  nav img {
	float: left;
	height: 50px;
  }

  nav ul {
	/* centre la liste par rapport à la barre de navigation */
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
  }
  
  nav li {
	float: left;
  }

  ul li button {
	display: block;
	margin-left: auto;
	margin-right: 10px;
	align-items: center;
  	background-color: #fff;
  	border-radius: 24px;
  	cursor: pointer;
  	font-size: 16px;
  	font-weight: 500;
  	height: 48px;
  	max-width: 100%;
  	overflow: hidden;
  	padding: 2px 24px;
  	text-align: center;
  	touch-action: manipulation;
  	width: auto;
	border: none;
  }

  ul li button:hover{
	transition: 0.5s;
	background-color: royalblue;
	color: white;
  }

  nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }

  nav.pics a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0px 0px;		
	text-decoration: none;
  }
  
  nav a:hover {
	background-color: #555;
	color: royalblue;
  }
  
  /* Style pour la section principale */
  main {
	width: 100%;
	flex: 1;
  }

  main h1 {
	background-color: #333;
	border-radius: 30px;
	text-align: center;
	font-size: 32px;
	margin-bottom: 20px;
	color: #f4f4f4;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	box-shadow: 0 0 30px #333;
  }
  
  section {
	margin-bottom: 40px;
	background-color: #f4f4f4;
	border-radius: 30px;
	padding: 20px;
	box-shadow: 0 0 30px #333;
  }
  
  section h2 {
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px;
	color: #333;
  }

  section img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
  }

  
  section p {
	font-size: 16px;
	line-height: 1.5;
	color: #555;
  }
  
  /* Style pour le footer */
  footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
  }

  a {
	color: royalblue;
  }

  main section.membres ul{
	height: auto;
  }

  main section.membres ul li{
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 10px;
	overflow: hidden;
	height: auto;
  }

  main section.membres ul li img{
	height: auto;
  }
  
  main section.membres div.textlatin{
	display: block;
  }

  .textlatin:hover{
	color:red;
  }
